nav {
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:center;
  gap: 30px;
  margin: 0;
  padding: 10px;
  border-radius: 25px;
}

nav a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4;
}

#navbar.scrolled {
  background-color: rgba(2, 0, 36, 1); 
}
